<div class="TScreateToDo">
  <ng-container *ngIf="!create">
      <div class="createBtnWrapper clickAble"
           (click)="startCreateToDo()">
          + ToDo
      </div>
  </ng-container>
  <ng-container *ngIf="create">
      <div class="toDoWrapper">
          <span class="toDoIndicator"></span>
          <input id="newToDoSubject" (keyup.enter)="savingToDo(input)" #input>
      </div>
  </ng-container>
  <ng-container *ngIf="creating">
    <h3>Creating todo ... </h3>
  </ng-container>
</div>